# Data Structure

1. What are data structures, and why are they important?
 - A data structure is a method of organizing data in a computer program, allowing for efficient storage and access to information based on the situation, and in Python, data structures are crucial because they provide a structured way to store and manipulate collections of data, making your code more organized, efficient, and easier to manage when dealing with complex problems.

2. Explain the difference between mutable and immutable data types with example.
 - In programming, a "mutable" data type means you can change its value after it's created, while an "immutable" data type cannot be modified once created; essentially, a mutable object can be altered directly, whereas an immutable object requires creating a new object to change its value.
  Example:-

In [ ]:
#mutable

my_list = [1,2,3]
my_list.append(4)
print(my_list)

[1, 2, 3, 4]

In [ ]:
#immutable

my_string = "hello"
my_string = my_string+ "world"
print(my_string)

helloworld

3. What are the main differences between lists and tuples in Python?
 - The primary difference between lists and tuples in Python is that lists are mutable, meaning you can change their elements after creation, while tuples are immutable, which means you cannot modify their contents once they are created; essentially, lists are designed for dynamic data manipulation while tuples are used to store fixed data where changes are not needed.

4. Describe how dictionaries store data.
 - Dictionaries are used to store data values in key:value pairs. A dictionary is a collection which is ordered, changeable and do not allow duplicates.

5. Why might you use a set instead of a list in Python?
 - Since sets do not store indexed data or duplicates, they use less memory than lists and are less computationally expensive.

6. What is a string in Python, and how is it different from a list?
 - In Python, a string is a sequence of characters, while a list is a sequence of values. Strings are immutable, meaning they can't be changed after creation, while lists are mutable and can be modified.

7. How do tuples ensure data integrity in Python?
 - Tuples are immutable to ensure that their contents remain constant throughout their lifecycle, guaranteeing data integrity and reliability. This immutability allows tuples to be used as keys in dictionaries and elements in sets, as they can be hashed.

8. What is a hash table, and how does it relate to dictionaries in Python?
 - A Hash Table in Python is a data structure which stores data by using a pair of values and keys.
      In Python, the Dictionary data types represent the implementation of hash tables.
    
9. Can lists contain different data types in Python?
 - Although it's not really common, a list can also contain a mix of Python types including strings, floats, and booleans.

10. Explain why strings are immutable in Python?
 -  Strings in Python are “immutable” which means they can not be changed after they are created.
11. What advantages do dictionaries offer over lists for certain tasks?
 - Dictionaries are faster than lists for certain tasks like lookups, configurations, and caches.

12. Describe a scenario where using a tuple would be preferable over a list.

- Use a tuple if you need an immutable collection where the elements won't change after creation. Tuples are generally faster and more memory-efficient than lists, making them better for fixed collections, especially as dictionary keys or when iteration speed is crucial.

13. How do sets handle duplicate values in Python?
 -  Items of a set in python are immutable (unchangeable), do not duplicate values, and unordered. Thus, items in a set do not appear in a stipulated manner, i.e., they can appear in a different order every time it is used. Due to this, set items cannot be referred to by key or index.

14. How does the “in” keyword work differently for lists and dictionaries?
 -  As mentioned above, the in operation for the dictionary tests on keys. The key of the dictionary is a unique value as well as the set, and the execution time is about the same as for sets. On the other hand, dictionary values can be duplicated like a list.

15. Can you modify the elements of a tuple? Explain why or why not?
 -  No, you cannot modify the elements of a tuple in Python because tuples are immutable.

16. What is a nested dictionary, and give an example of its use case?
 - A nested dictionary is a dictionary that appears as a value within another dictionary. It's a way to organize data into multiple layers.
   example - Employee records: Organize employees by department, with each employee's details in a nested dictionary.

17. Describe the time complexity of accessing elements in a dictionary?
 -  Accessing an element in a dictionary typically has a time complexity of O(1), meaning it takes a constant amount of time to retrieve a value based on its key, regardless of the size of the dictionary, on average; however, in the worst case scenario with many collisions, it could reach O(n) where n is the number of elements in the dictionary.

18. In what situations are lists preferred over dictionaries?
 -  For quick data look-ups, configurations, or caches, favor dictionaries. For ordered collections and sequence operations, such as maintaining a stack or queue, lists are more suitable.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
 -  Dictionaries are considered unordered because they don't maintain a specific order for items, though they may appear to do so in some versions of Python.

20. Explain the difference between a list and a dictionary in terms of data retrieval.?
 - A list retrieves data based on its position (index) within the sequence, while a dictionary retrieves data using a unique key associated with each value, meaning you access elements in a list using their numerical index, whereas in a dictionary, you access elements using their specific key to find the corresponding value; this makes dictionaries significantly faster for lookups when you know the key you need to search for, while lists are better for accessing elements in a specific order.

In [ ]:
#1. Write a code to create a string with your name and print it.
Name = "Manish Kumar"
print(Name)

Manish Kumar

In [ ]:
# 2.Write a code to find the length of the string "Hello World".

string = "Hello World"
print(len(string))

11

In [ ]:
#3. Write a code to slice the first 3 characters from the string "Python Programming".

string = "Python Programming"
print(string[0:3])

Pyt

In [ ]:
# 4.Write a code to convert the string "hello" to uppercase.

string = "hello"
string.upper()

'HELLO'

In [ ]:
#5.Write a code to replace the word "apple" with "orange" in the string "I like apple".

string = "I like apple."
string.replace("apple","orange")

'I like orange.'

In [ ]:
#6.Write a code to create a list with numbers 1 to 5 and print it.

list = [1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [ ]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4].

list = [1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [ ]:
# 8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

list = [1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [ ]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

list = ['a','b','c','d']
print(list[1])

b

In [ ]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].

list = [10,20,30,40,50]
reverse_list = list[::-1]
print(reverse_list)

[50, 40, 30, 20, 10]

In [ ]:
#11.Write a code to create a tuple with the elements 100, 200, 300 and print it.

tuple =(100,200,300)
print(tuple)

(100, 200, 300)

In [ ]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

tuple = ('red', 'green', 'blue', 'yellow')
tuple1 = tuple[-2]
print(tuple1)

blue

In [ ]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

tuple = (10,20,5,15)
print(min(tuple))

5

In [33]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

tuple = ('dog','cat','rabbit')
print(tuple.index('cat'))

1

In [35]:
#15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

tuple = ("apple","banana","kiwi")
print("kiwi" in tuple)

True

In [36]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

set = ('a','b','c')
print(set)

('a', 'b', 'c')

In [37]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

set = {1,2,3,4,5}
set.clear()
print(set)

set()

In [38]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

set = {1,2,3,4}
set.remove(4)
print(set)

{1, 2, 3}

In [39]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

set1 = {1,2,3}
set2 = {3,4,5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [40]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

set1 = {1,2,3}
set2 = {2,3,4}
print(set1.intersection(set2))

{2, 3}

In [41]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

dict = {"name":"Manish","age":20,"city":"Delhi"}
print(dict)

{'name': 'Manish', 'age': 20, 'city': 'Delhi'}

In [42]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

dic = {'name': 'John', 'age': 25}
dic["country"] = "USA"
print(dic)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [43]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

dic = {'name': 'Alice', 'age': 30}
print(dic["name"])

Alice

In [47]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

dic = {'name': 'Bob', 'age': 22, 'city': 'New York'}
dic.pop("age")
print(dic)

{'name': 'Bob', 'city': 'New York'}

In [48]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}

dic = {'name': 'Alice', 'city': 'Paris'}
print("city" in dic)

True

In [49]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.


list = [1,2,3,4]
tuple = (1,2,3,4)
dic = {"name":"Manish","age":20,"city":"Delhi"}
print(list)
print(tuple)
print(dic)

[1, 2, 3, 4]
(1, 2, 3, 4)
{'name': 'Manish', 'age': 20, 'city': 'Delhi'}

In [55]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
# result.(replaced)

import random
list = []
for i in range(5):
    list.append(random.randint(1,100))
list.sort()
print(list)

[31, 65, 88, 92, 92]

In [56]:
#28. Write a code to create a list with strings and print the element at the third index.


list = ["apple","banana","kiwi","mango"]
print(list[2])

kiwi

In [57]:
#29. Write a code to combine two dictionaries into one and print the result.

dic1 = {"name":"Manish","age":20,"city":"Delhi"}
dic2 = {"country":"India","state":"Delhi"}
dic1.update(dic2)
print(dic1)

{'name': 'Manish', 'age': 20, 'city': 'Delhi', 'country': 'India', 'state': 'Delhi'}

In [73]:
#30. Write a code to convert a list of strings into a set.


list = ["manish", "apple","banana"]
set = set(list)
print(list)

TypeError: 'set' object is not callable